{% load static %}
<link rel="stylesheet" href="{% static 'css/redes_sociales.css' %}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

<div class="redes_sociales">
    <ul> 
        <li><a href="https://www.facebook.com/PrefecturaElOro/"  target="_blank" class="fab fa-facebook"></a></li>
        <li><a href="https://www.instagram.com/prefecturaeloro/" target="_blank" class="fab fa-instagram"></a></li>
        <li><a href="https://twitter.com/PrefecturaElOro"  target="_blank" class="fab fa-twitter"></a></li>
    </ul>
</div>