
{% extends "Fauna/Peces/dashboard.html" %}

{% load static %}


{% block content %}

    
    

   


    <div class="card">
      <div class="card-content">
          <div class="card-body">
              <h4 class="card-title">Introducción</h4>
          </div>
          
          <div class="card-body">
            
              <p class="card-text">
                Los pequeños drenajes de alta montaña y sus organismos son más sensibles a los efectos antrópicos que los
                cursos de agua mayores. El interés
                por estudiar este tipo de ambientes ha aumentado en los últimos años,
                porque representan un fuente hídrica para el abastecimiento urbano y rural,
                y por estar dotados de una fuente de
                fauna peculiar y poco conocido.
                <br></br>
                Los peces son buenos indicadores del
                estado del ambiente acuático, pues su
                conocimiento permite que sean utilizados para evaluar la salud ambiental
                de cualquier cuerpo de agua. La sensibilidad de estos organismos ante modificaciones en los
                ecosistemas acuáticos contribuye a
                documentar los impactos antropogénicos a través del tiempo y el espacio,
                pues el ecosistema acuático puede ser
                amenazado con facilidad por cualquier perturbación externa.
                <br></br>
                El crecimiento de la población humana, el aumento del consumo y la
                acelerada globalización han provocado una degradación generalizada
                y la alteración de múltiples sistemas naturales, sobre todo en el 
                agua dulce; estos ecosistemas han perdido en
                mayor medida hábitats y especies que ecosistemas terrestres u oceánicos.
                Los peces de agua dulce pueden ser actualmente el grupo de vertebrados
                más amenazados, basados en más de
                5.000 especies evaluadas hasta la fecha por la IUCN.
              </p>
              <h4 class="card-title">Riqueza y Composición</h4>
              <p class="card-text">
                Se capturaron 46 especies, distribuidas en 35 géneros, 20 familias y ocho
                órdenes (Figura 15), siendo los órdenes con mayor representación específica los Characiformes (17 especies,
                37%), Siluriformes (13 especies,
                28,3%) y Perciformes (8 especies,
                17,4%). Los órdenes restantes presentaron entre una
                y tres especies. Esta riqueza
                constituye el 60% de la cuenca del río
                Guayas, el 41,1% del total de especies identificadas en las aguas continentales de
                la vertiente occidental del Ecuador y el 4,8%
                de la ictiofauna del país. Si relacionamos esta riqueza de peces con la
                zona ictiohidrográfica Catamayo con 25 especies según Barriga, vemos que sobrepasa 
                en casi más del doble a los registros.
                <br></br>
                La familia más diversa fue Characidae (seis especies.), que representa el 13%
                del total de especies. Le siguen Astroblepidae, Bryconidae y Loricariidae
                (cuatro especies) cada una y Cichlidae, Poeciliidae, Curimatidae y Eleotridae 
                (tres especies) cada una. Las restantes 12 familias tienen entre dos a una
                especie.
              </p>
              <h4 class="card-title">Abundancia</h4>
              <p class="card-text">
                Se capturaron un total de 3.985 ejemplares. En cuanto al número de individuos
                por familia, Characidae presentó la mayor abundancia (n= 1.134), seguida
                de Cichlidae (n= 571), Bryconidae (n= 457), Heptapteridae (n= 408) y
                Astroblepidae (n= 322 ).
                <br></br>
                Las especies predominantes en la provincia de El Oro pertenecieron a los
                órdenes Characiformes y Siluriformes que, por otra parte, son los que han
                experimentado la más importante radiación adaptativa en los sistemas fluviales
                de Sudamérica, que ocupan actualmente los más diversos ambientes y nichos
                ecológicos; al seguir el mismo patrón descrito para numerosos ecosistemas
                dulceacuícolas del Neotrópico, que se caracterizan por un predominio de
                peces de estos órdenes. La familia Characidae fue
                ampliamente dominante en número de especies e individuos en las Unidades
                Hidrográficas de El Oro; los hábitats de las Unidades Hidrográficas en su
                mayoría presentan un sustrato de cantos rodados, rocas metamórficas y arena,
                sitios favorables para que la mayoría de especies de esta familia formen
                cardúmenes, lo cual se refleja en una mayor posibilidad de captura.
              </p>
              <h4 class="card-title">Dominancia</h4>
              <p class="card-text">
                El 87,3% de la abundancia total estuvo representada en 18 especies de las
                46 registradas, siendo Bryconamericus dahli de la familia Characidae,
                Brycon atrocaudatus de la familia Bryconidae, Pimelodella modestus de la
                familia Heptapteridae y Rhoadsia altipinna de la familia Characidae, las de
                mayor abundancia. La dominancia de B. dahli podría estar
                condicionada a que la especie forma parte del género Bryconamericus, el cual
                está compuesto por peces de pequeño a mediano tamaño que se encuentran
                ampliamente distribuidos desde América Central hasta la cuenca del río Sauce
                Grande en el sur de la provincia de Buenos Aires,
                habitan en la provincia de El Oro en ambientes lóticos (ríos Buenaventura,
                Santa Rosa, Piedras) y lénticos (Represa Tahuín, Humedal Tembladera) y en
                sustratos rocoso-arenosos y de aguas claras.
              </p>
          </div>
          <div id="carousel-example-card" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-example-card" data-slide-to="0"
                    class="active"></li>
              
            </ol>
            <div class="carousel-inner rounded-0"  role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/img/Fauna/Peces/intro.jpg' %}"
                        class="d-block w-100" alt="First slide">
                </div>
               
            </div>
            
        </div>
      </div>
  </div>
    
    
  
  

{% endblock %}