@font-face {
	font-family: 'themify';
	src: url(Sugerencias_css/fonts/themify.eot?-fvbane=) format('embedded-opentype'),
	url(Sugerencias_css/fonts/themify.eot) format('embedded-opentype'),
	url(Sugerencias_css/fonts/themify.woff?-fvbane=) format('woff'),
	url(Sugerencias_css/fonts/themify.ttf?-fvbane=) format('truetype'),
	url(Sugerencias_css/fonts/themify.svg?-fvbane=) format('svg');
	font-weight: normal;
	font-style: normal;
}