
{% extends "Flora/Bromelia/dashboard.html" %}

{% load static %}

{% block content %}
   

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'css/Article-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">


<div class="card">
    <div id="carousel-example-card" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            
          
        </ol>
        <div class="carousel-inner rounded-0"  role="listbox">
            <div class="carousel-item active">
                <img src="{% static 'assets/img/Flora/Bromelias/citas.png' %}" style="height: 405px;"
                    class="d-block w-100" alt="First slide">
            </div>
           
        </div>
    <section class="article-clean">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
         
                  
                        <h1 class="text-center" style="font-weight: bold;font-size: 30px;font-family: roboto; padding-top: 50px; padding-bottom: 20px;">LITERATURA CITADA</h1>
                    </div>
                    <div class="text">
                        <h1 style="font-size: 18px;font-weight: bold;font-family: roboto;">Libro Anfibios, Reptiles y Aves de la Provincia de El Oro. (1era Edición)</h1>
                        <p style="font-size: 14px;font-family: Robot;">Albuja, L., M. Ibarra, J. Urgilés y R. Barriga. 1980. Estudio Preliminar de los Vertebrados Ecuatorianos. Escuela Politécnica Nacional.Aguirre et al. 2006.</p>
                        <p style="font-size: 14px;font-family: Robot;">Alonso, A., and F. Dallmeir. 1.999 (Ed.). Biodiversity Assessment and Monitoring of the Coger Urubamba Region, Perú. Pagoreni Well Site: Assessment and Training. SI/MAB Biodiversity Program Series #3.</p>
                        <p style="font-size: 14px;font-family: Robot;">Aguirre, Z. M., L. P. Kvist, and O. Sánchez. 2006. Bosques secos en Ecuador y su diversidad. 2006. Pp: 162-187. En: Moraes, M., B. Øllgaard, L. P Kvist., F. Borchsenius &amp; H. Balslev (Eds). Botánica Económica de los Andes Centrales. Universidad Mayor de San Andrés, La Paz.</p>
                        <p style="font-size: 14px;font-family: Robot;">Angulo, A., J. V. Rueda-Almonacid, J. V. Rodríguez-Mahecha y E. La Marca (Eds). 2006. Técnicas de inventario y monitoreo para los Anfibios de la Región Tropical Andina. Conservación Internacional. Series Manuales de Campo No 2. Panamericana Formas e Impresos S.A., Bogotá D.C. 298 pp.</p>
                        <p style="font-size: 14px;font-family: Robot;">Baquero, F., R. Sierra, L. Ordóñez, M. Tipán, L. Espinosa, M. B. Rivera y P. Soria. 2004. La Vegetación de los Andes del Ecuador. Memoria explicativa de los mapas de vegetación: potencial y remanente a escala 1:250.000 y del modelamiento predictivo con especies indicadoras. EcoCiencia/CESLA/Cor-poración EcoPar/MAG SIGAGRO/CDC - Jatun Sacha/División Geográfica - IGM. Quito.</p>
                        <p style="font-size: 14px;font-family: Robot;">Beltrán, K., S. Salgado, F. Cuesta., S. León-Yánez, K. Romoleroux, E. Ortiz, A. Cárdenas y A. Velástegui. 2009. Distribución Espacial, Sistemas Ecológicos y Caracterización Florística de los Páramos en el Ecuador. EcoCiencia, Proyecto Páramo Andino y Herbario QCA.Quito.</p>
                        <p style="font-size: 14px;font-family: Robot;">Cerón, C., W. Palacios, R. Valencia y R. Sierra. Valencia, R. 1999. Las formaciones naturales de la Costa del Ecuador. Pp: 55-78. En: Sierra, R. (Ed.). Propuesta preliminar de un sistema de clasificación de vegetación para el Ecuador continental, Editador por R. Sierra. Quito: Proyecto INEFAN/GERF-BIRF y Ecociencia.</p>
                        <p style="font-size: 14px;font-family: Robot;">Cuesta, F.; Peralvo, M. y N. Valarezo. 2009. Los bosques montanos de los Andes Tropicales: Una evaluación regional de su estado de conservación y de su vulnerabilidad a efectos del cambio climático. Serie Investigación y Sistematización No 5. Programa Regional ECOBONA- INTERCOOPERATION. Quito.</p>
                        <p style="font-size: 14px;font-family: Robot;">Crump, M. L. and N. J. Scoot. 1994. Visual Econuter Survey. In: Heyer, W.R., M.A. Donnelly, R.W. McDiarmid, L.C. Hayek, and M. S. Foster (Eds). 1994. Measuring and Monitoring biological Diversity. Standard methods for Amphibians. Smithsonian Institution Press. Washington and London.</p>
                        <p style="font-size: 14px;font-family: Robot;">Josse, C., (Ed.) 2001. La biodiversidad del Ecuador. Informe 2000. Quito, Ecuador: Ministerio del Ambiente, Ecociencia y UICN.</p>
                    </div>
                    <div class="text">
                        <h1 style="font-size: 16px;font-weight: bold;"><strong>Libro Anfibios, Reptiles y Aves de la Provincia de El Oro. (2da Edición)</strong><br></h1>
                        <p style="font-size: 14px;font-family: roboto;">Ágreda, A.E., Villón, R.W., y Suárez Montenegro, B.J. (2013). Noteworthy bird records from the Santa Elena Peninsula and coastal south-west Ecuador. Cotinga 35: 99–101<br></p>
                        <p style="font-size: 14px;font-family: roboto;">Aguirre, Z., y Mena-Vásconez, P. (2013). Bosque siempreverde montano alto del Catamayo-Alamor Páginas 106-107. En: Ministerio del Ambiente del Ecuador 2012. Sistema de Clasificación de los Ecosistemas del Ecuador Continental. Ministerio del Ambiente del Ecuador.<br></p>
                        <p style="font-size: 14px;font-family: roboto;">Beltrán, K., Salgado, S., Cuesta, F., León-Yánez, S., Romoleroux, K., Ortiz, E., Cárdenas, A., y Velástegui, A. (2009). Distribución Espacial, Sistemas Ecológicos y Caracterización Florística de los Páramos en el Ecuador. EcoCiencia, Proyecto Páramo Andino y Herbario QCA.Quito.<br></p>
                        <p style="font-size: 14px;font-family: roboto;">Calle, M., y Suárez, H. (2003). Estudio del Estado Poblacional y Reproductivo de Aves Marinas en el Refugio de Vida Silvestre Isla Santa Clara (RVS-ISCLA) en diciembre del 2002 y julio del 2003. Informe preparado para EDCEcuador Ltda. Guayaquil, Ecuador.<br></p>
                        <p style="font-size: 14px;font-family: roboto;">Dangles O., Nowicki, F., y Mena, B. (2009). Biota Maxima - Ecuador Biodiverso PUCE -IRD Editions. Pp: 1–252.<br></p>
                        <p style="font-size: 14px;font-family: roboto;">Duellman, W. E. (1982). Compresión Climática Cuaternaria en los Andes, Efectos sobre la Especieación. En: Salinas, P.J. (Ed.). 1982. Zoológica Neotropical, Actas VIII Congreso Latinoamericano de Zoología. Merida Venezuela<br></p>
                        <p style="font-size: 14px;font-family: roboto;">García, M., Parra, P., y Mena-V., P. (2014). El País de la Diversidad. Ecuador. Fundación Botánica de los Andes, Ministerio del Ambiente y Fundación EcoFondo, Quito.<br></p>
                        <p style="font-size: 14px;font-family: roboto;">Heineicke, M.P., Duellman, W.E., y Hedges, S.B. (2007). Major Caribbean and Central American frog faunas originated by ancient oceanic dispersal. Proceedings of the National Academy of Sciences (USA), 104, 10092–10097.<br></p>
                        <p style="font-size: 14px;font-family: roboto;">IUCN. (2018). The IUCN Red List of Threatened Species. Version 2018.1. . Downloaded on 12 June 2018<br></p>
                        
                    </div>
                    <div class="text">
                        <h1 style="font-size: 16px;font-weight: bold;">Libro Orquídeas y Bromelias de la Provincia de El Oro<br></h1>
                        <p style="font-size: 14px;font-family: roboto;">Archila, F. 2009. Neooreophilus Archila: A New Genus in the Pleurothalidinae Lindl. Orchidaceae.Guatemalensis, Vol.12.2.</p>
                        <p style="font-size: 14px;font-family: roboto;">Batista, J.A.N., L. de B. Bianchetti, R. González-Tamayo, X.M.C. Figueroa y P.J. Cribb. 2011. A sinopsis of New World Habenaria I. Harvard Papers in Botany 16:1-47.</p>
                        <p style="font-size: 14px;font-family: roboto;">Bentham, G. 1881. Notes on Orchidaceae.Journal of botany of the Linnean so-ciety.Pp. 281-360.</p>
                        <p style="font-size: 14px;font-family: roboto;">Benzing, H.D. 1990. Vascula epiphytes.General Biology and related biota.Cambridge: Cambridge University Press.</p>
                        <p style="font-size: 14px;font-family: roboto;">Bernardello, L., L. Galetto and H.R. Juliani. 1991. Floral nectar, nectary struc-ture and 4 pollinators in some Argentinian Bromeliaceae. Ann. Bot., 67: 401-411.</p>
                        <p style="font-size: 14px;font-family: roboto;">Chase, M.W., F.N. Pridgeon, F.N Rasmussen, P.J. Cribb and A.M. Prid-geon.2001. Orchidoideae. In: Genera Orchidacearum, Vol. 2: 6-9. Oxoford: Oxford University.</p>
                        <p style="font-size: 14px;font-family: roboto;">Chiron G.R., J. Guiard, C. van den Berg. 2012. Phylogenetic relationships in Brazilian Pleurothallis sensulato. Phytotaxa, 2012: 34-58.</p>
                        <p style="font-size: 14px;font-family: roboto;">Dodson, C. H.,and R.Escobar. 1993. Native Ecuadorian Orchids.Medellin: Colina. Vol. 1.</p>
                        <p style="font-size: 14px;font-family: roboto;">Dodson, C. H. 2002. Native Ecuadorian Orchids. Sarasota: Dodson trust. Vol. 3.</p>
                        <p style="font-size: 14px;font-family: roboto;">Fotn Quer, P. 2000. Diccionario de Botánica. Barcelona: Ediciones Península. Frost, C. and W. J Hooker.1829. Curtis Botanical Magazine.Londres.</p>
                    </div>
                    <div class="text">
                        <h1 style="font-size: 16px;font-weight: bold;"><strong>Libro Ecosistemas Dulceacuicolas de la Provincia de El Oro.</strong><br></h1>
                        <p style="font-size: 14px;font-family: roboto;">Acosta, R., B. Ríos, M. Rieradevall y N. Prat. 2009. Propuesta de un protocolo de evaluación de la calidad ecológica de ríos andinos (CERA) y su aplicación a dos cuencas en Ecuador y Perú. Limnetica 28:35-64.</p>
                        <p style="font-size: 14px;font-family: roboto;">Agencia de Regulación y Control Minero (ARCOM). 2016. Estadística minera 2015 [base de datos]. Recuperado de: http://www.controlminero.gob.ec/</p>
                        <p style="font-size: 14px;font-family: roboto;">Allan, J.D. 2004. Landscapes and riverscapes: The Influence of Land Use on Stream Ecosystems. Annual Review of Ecology, Evolution, and Systematics 35:257- 284.</p>
                        <p style="font-size: 14px;font-family: roboto;">Barriga, R. 1994. Peces del Parque Nacional Yasuní. Politécnica 19(2): 9-41.</p>
                        <p style="font-size: 14px;font-family: roboto;">Barriga, R. 2012. Lista de Peces de Agua Dulce e Intermareales del Ecuador.&nbsp;Politécnica 30(3): 83-119.</p>
                        <p style="font-size: 14px;font-family: roboto;">Bonada, N., N. Prat, V. Resh y B. Statzner. 2006. Developments in aquatic insect biomonitoring: a comparative analysis of recent approaches. Annual Review of Entomology 51:495-523.</p>
                        <p style="font-size: 14px;font-family: roboto;">Carrera, P. y G. Gunkel. 2003. Ecology of a high Andean stream, Río Itambi, Otavalo, Ecuador. Limnologica - Ecology and Management of Inland Waters 33: 29-43.</p>
                        <p style="font-size: 14px;font-family: roboto;">Cummins, K.W.1973. Trophic relations of aquatic insects. Annual Review of Entomology 18: 183-206.</p>
                        <p style="font-size: 14px;font-family: roboto;">Dumbleton J. 1963. The classification and distribution of the Simuliidae (Diptera) with particular reference to the genus Austrosimulium. Science 6: 320-57.</p>
                        <p style="font-size: 14px;font-family: roboto;">Elosegi, A. y S. Sabater. 2009. Conceptos y técnicas en ecología fluvial. Bilbao, España: Fundación BBVA. 444 pp.</p>
                    </div>
                    <div class="text">
                        <h1 style="font-size: 16px;font-weight: bold;"><strong>Libro Mamíferos de la Provincia de El Oro.</strong><br></h1>
                        <p style="font-size: 14px;font-family: roboto;">Albuja, L. 1999. Murciélagos del Ecuador. 2da Edición. Cicetrónic Cía. Ltda. Quito.</p>
                        <p style="font-size: 14px;font-family: roboto;">Allen, J. A. 1915. Notes on American deer of the genus Mazama. Bulletin of the American Museum of Natural History 34:521–553.</p>
                        <p style="font-size: 14px;font-family: roboto;">Astúa, D. 2010. Cranial sexual dimorphism in New World marsupials and a test of Rensch’s rule in Didelphidae. Journal of Mammology 91:1011–1024.</p>
                        <p style="font-size: 14px;font-family: roboto;">Baker, R. J., S. Solari, A. Cirranello &amp; N. B. Simmons. 2016. Higher level classification of Phyllostomid bats with a Summary of DNA Synapomorphies. Acta Chiropterologica 18(1):1–3.</p>
                        <p style="font-size: 14px;font-family: roboto;">Barquez, R. &amp; M. Diaz. 2016. Myotis simus. The IUCN Red List of Threatened Species 2016: e.T14204A22064642.</p>
                        <p style="font-size: 14px;font-family: roboto;">Barrio, J. 2010. First records and conservation status of Mazama rufina (Cervidae, Artiodactyla) from Perú. Mastozoología Neotropical 17:117–122.</p>
                        <p style="font-size: 14px;font-family: roboto;">Boada, C. 2011. Mamíferos de los Tepuyes de la Cuenca Alta del Río Nangaritza, Cordillera del Cóndor. En: Guayasamin, J.M, y E. Bonaccorso. (eds). 2011. Evaluación Ecológica Rápida de la Biodiversidad de los Tepuyes de la Cuenca alta del Río Nangaritza, Cordillera del Cóndor, Ecuador. Conservación Internacional. Quito, Ecuador.</p>
                        <p style="font-size: 14px;font-family: roboto;">Brito, J. &amp; K. Valdivieso-Bermeo. 2016. First records of leucism in eight species of small mammals (Mammalia: Rodentia). Therya 7:483-489.</p>
                        <p style="font-size: 14px;font-family: roboto;">Brito, J. &amp; R. Ojala Barbour. 2016. Mamíferos no voladores del Parque Nacional Sangay, Ecuador. Papéis Avulsos de Zoologia 56:45–61.</p>
                        <p style="font-size: 14px;font-family: roboto;">Cameron, G. N. &amp; S. R. Spencer. 1981. Sigmodon hispidus. Mammalian Species 158:1–9.</p>
                    </div>
                    <div class="text">
                        <h1 style="font-size: 16px;font-weight: bold;">Libro del Subsistema de Áreas Naturales de Conservación y Diseño del Corredor Ecológico.</h1>
                        <p style="font-size: 14px;font-family: roboto;">Acosta-Solís, M. (1968). Divisiones fitogeográficas y formaciones geobotánicas del Ecuador. Casa de la Cultura Ecuatoriana, Quito.</p>
                        <p style="font-size: 14px;font-family: roboto;">Agencia de Regulación y Control Minero (ARCOM). (2016). Estadística minera 2015 [base de datos]. Recuperado de: http://www.controlminero.gob.ec/</p>
                        <p style="font-size: 14px;font-family: roboto;">Barriga, R. (2012). Lista de Peces de Agua Dulce e Intermareales del Ecuador. Politécnica, 30(3): 83–119.</p>
                        <p style="font-size: 14px;font-family: roboto;">Beniston, M., Diaz, H.G., y Bradley, R.S. (1997). Climatic change at high elevation sites: an overview. Climatic Change 36:233-251.</p>
                        <p style="font-size: 14px;font-family: roboto;">Calvache, M. (2014). El Suelo y la Matriz Productiva: XIV Congreso Ecuatoriano de la Ciencias del Suelo.</p>
                        <p style="font-size: 14px;font-family: roboto;">Cañadas, L. (1983). El Mapa Bioclimático y Ecológico del Ecuador. MAG-PRONAREG, Quito.</p>
                        <p style="font-size: 14px;font-family: roboto;">De La Rosa, D. 2008. Evaluación agro-ecológica de suelos. Madrid, Es. Ediciones Munidi-Prensa. Pp 176-177, 199, 208, 223.</p>
                        <p style="font-size: 14px;font-family: roboto;">Delgado, T. (2008). Evolución de la diversidad vegetal en el Ecuador ante un escenario de cambio global. Universidad Complutense de Madrid. Memoria de Tesis Doctoral. Madrid.</p>
                        <p style="font-size: 14px;font-family: roboto;">Diels, L. (1937). Beiträge zur Kenntnis der Vegetation und Flora von Ecuador. Biblioth. Bot. 116, 1-190.</p>
                        <p style="font-size: 14px;font-family: roboto;">Escalante, T. (2009). Un ensayo sobre regionalizacion biogeografica. Revista Mexicana de Biodiversidad, 80, 551–560.</p>
                    </div>
                    <p class="text-center" style="font-size: 12 px;color: rgb(146,146,146); padding-top: 10px;"><span class="by" style="font-style: italic;">Actualizado</span> <span class="date">Noviembre 11th, 2021</span></p>
                </div>
            </div>
        </div>
    </section>

</div>
    
    


    {% endblock %}