
{% extends "Flora/Bromelia/dashboard.html" %}

{% load static %}


{% block content %}

    
    

   


    <div class="card">
      <div class="card-content">
          <div class="card-body">
              <h4 class="card-title">Introducción</h4>
          </div>
          
          <div class="card-body">
            
              <p class="card-text">
                Dentro de la riqueza florística de la
                provincia de El Oro, las orquídeas
                y las bromelias sobresalen por su
                gran diversidad taxonómica y su
                alto potencial a nivel económico,
                de manejo y conservación.
              </p>
              <h4 class="card-title">Riqueza</h4>
              <p class="card-text">
                A lo largo del mosaico de ecosistemas y en la gradiente altitudinal de la
                provincia de El Oro se registra una riqueza de 85 especies de bromelias, lo
                que equivale al 6.6% de la riqueza total de plantas vasculares registradas
                en la provincia. Están distribuidas en tres subfamilias, seis tribus y 11
                géneros. Principalmente en su composición taxonómica destaca la subfamilia
                Tillansioideae, la cual concentra el 50% de las tribus, el 64% de los géneros
                y 73% de las especies registradas en la provincia. A nivel genérico,
                resaltan por su alta concentración de especies los géneros Tillandsia con 22
                especies, seguido por Guzmania con 17, Racinaea con 12 y Pitcairnia con
                11 taxones; otros géneros como Aechmea, Lemeltonia, Puya y Wallisia no
                superan las 10 especies, mientras que Bromelia, Catopsis y Werauhia están
                representados por una sola especie cada género.
                <br></br>
                Se idetificó un total de 25 especies endémicas de Ecuador, correspondientes
                a siete de los once géneros registrados en la provincia, siendo los géneros
                Pitcairnia, Guzmania y Tillandsia los que contienen mayor cantidad de
                especies únicas para el país. De igual forma, resaltan los géneros Puya y
                Racinaea que tienen una composición de 12% de endemismo; finalmente,
                están los géneros Lemeltonia y Wallisia con un 4% y 8% de especies
                endémicas, respectivamente. Por su parte, las especies categorizadas
                en riesgo de extinción suman 13, lo que equivale al 15.3% de la composición
                total de especies, perteneciendo predominantemente a los géneros Tillandsia,
                Guzmania y Pitcairnia; Lemeltonia y Racinaea tienen una especie amenazada
                cada una.
              </p>
              <h4 class="card-title">Estado actual</h4>
              <p class="card-text">
                Del 100% de la riqueza de bromelias registradas en El Oro, el 29% corresponde
                a especies endémicas de Ecuador y que se encuentra incluidas en alguna
                categoría de riesgo de extinción. Un total de 13 especies han sido
                identificadas como amenazadas y están distribuidas en las categorías de:
                En Peligro (EN) con ocho especies de los géneros Guzmania, Lemeltonia,
                Pitcairnia, Racinaeay Tillandsia; y Vulnerable (VU) son cuatro especies de
                Guzmania, Pitcairnia y Wallisia. Las especies reportadas en la
                categoría de Casi Amenazado (NT) son cinco y las de Preocupación Menor
                (LC) son siete, ambos grupos representan el 13% del total de la familia
              </p>
          </div>
          <div id="carousel-example-card" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-example-card" data-slide-to="0"
                    class="active"></li>
              
            </ol>
            <div class="carousel-inner rounded-0"  role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/img/Flora/Bromelias/intro.jpg' %}"
                        class="d-block w-100" alt="First slide">
                </div>
               
            </div>
            
        </div>
      </div>
  </div>
    
    
  
  

{% endblock %}