

@media (min-width: 300px) {
  #seccion {
    padding: 20px 20px 50px 20px;
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 960px) {
  #seccion {
    padding: 20px 100px 50px 100px;
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 300px) {
  #seccion img {
    padding: 20px 100px 0px 100px;
  }
}

@media (min-width: 576px) {
  #seccion img {
    padding: 20px 20px 20px 20px;
  }
}

@media (min-width: 1200px) {
  #seccion img {
    padding: 20px 40px 20px 40px;
   
  }
}

@media (min-width: 576px) {
  #seccion h4 {
    font-size: 14px;
  }
}

@media (min-width: 576px) {
  #seccion p {
    font-size: 11px;
  }
}

@media (min-width: 576px) {
  #seccion {
    padding: 20px 20px 20px 20px;
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  #seccion {
    padding: 20px 100px 20px 100px;
    max-width: 960px;
    margin: 0 auto;
  }
}


#logo {
  max-height: 42px;
  margin-right: 18px;
  margin-top: -3px;
  margin-left: 65px;
  display: inline-block;
}

.titulo {
  margin-top: 20px;
}


#combo {
  background-color: var(--bs-light);
  color: black;
  padding: 10px;
  margin-top: 15px;
}

#textbox {
  margin-top: 15px;
}

@media (min-width: 300px) {
  #seccion-tabla {
    padding: 10px 30px 20px 30px;
  }
}

@media (min-width: 1200px) {
  #seccion-tabla {
    padding: 10px 170px 180px 170px;
  }
}

.cta-download {
  position: relative;
  padding: 80px 0;
}

@media (min-width: 1200px) {
  .cta-download .image-block {
    position: absolute;
    top: -110px;
    left: 100px;
  }
}

@media (min-width: 1400px) {
  .cta-download .image-block {
    position: absolute;
    top: -90px;
    left: 300px;
  }
}

@media (max-width: 992px) {
  .cta-download .image-block {
    display: none;
  }
}

.cta-download .content-block h2, .cta-download .content-block p {
  color: #fff;
}

.cta-download .content-block h2 {
  font-weight: 500;
  margin-bottom: 30px;
}

.cta-download .content-block p {
  line-height: 30px;
  margin-bottom: 40px;
}

.cta-subscribe h2 {
  font-weight: 500;
}

.cta-subscribe h2 {
  font-weight: 500;
}

.counter {
  padding-top: 180px;
}

@media (max-width: 768px) {
  .counter .counter-item {
    margin-bottom: 30px;
  }
}

.counter .counter-item h3, .counter .counter-item p {
  color: #fff;
  text-transform: uppercase;
}

.counter .counter-item h3 {
  margin-bottom: 20px;
  font-weight: 600;
}

.team-member {
  background: #fff;
  padding: 30px;
}

@media (max-width: 768px) {
  .team-member {
    margin-bottom: 40px;
  }
}

@media (min-width: 1024px) {
  .columnainfoapp {
    padding-top: 15px;
  }
}

.counter .counter-item {
  text-align: center;
  background: #7d71d3;
  padding: 40px 0;
  border-radius: 8px;
}

.phone-thumb {
  max-height: 550px;
}

.phone-thumb-md {
  max-height: 600px;
}

.container img:hover {
  transform: scale(1.1);
  transition: all 0.6s ease-out 0s;
}

.app-badge ul li.list-inline-item:not(:last-child) {
  margin-right: 25px;
}

@media (max-width: 768px) {
  .app-badge ul li.list-inline-item:not(:last-child) {
    margin-bottom: 25px;
    margin-right: 0;
  }
}

.app-badge ul li.list-inline-item:not(:last-child) {
  margin-right: 25px;
}

.btn-download {
  padding: 10px 25px;
  font-size: 14px;
  background: #232323;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: left;
}

.btn-download i {
  font-size: 40px;
  margin-right: 10px;
}

.btn-download span {
  display: block;
  font-size: 20px;
}

.btn-download:hover {
  color: rgb(255, 255, 255);
  background-color: #78b242;
}

.btn-main {
  padding: 25px 45px;
  border-radius: 3px;
  background: #7d71d3;
  color: #fff;
  outline: none;
}

.btn-main:hover {
  color: #fff;
}

.btn-main:focus {
  color: #fff;
  box-shadow: none;
}

.btn-main-rounded {
  letter-spacing: .075em;
  background: #7d71d3;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 40px;
  border-radius: 100px;
}

.btn-main-rounded:hover {
  color: #fff;
}

.btn-main-md {
  padding: 17px 38px;
  border-radius: 3px;
  background: #7d71d3;
  color: #fff;
  outline: none;
}

.btn-main-md:hover {
  color: #fff;
}

.btn-main-md:focus {
  color: #fff;
  box-shadow: none;
}

.btn-main-sm {
  padding: 15px 35px;
  border-radius: 3px;
  background: #7d71d3;
  color: #fff;
  outline: none;
  font-size: 14px;
}

.btn-main-sm:hover {
  color: #fff;
}

.btn-main-sm:focus {
  color: #fff;
  box-shadow: none;
}

.btn-white {
  background: white;
  color: #7d71d3;
}

.btn-rounded-icon {
  border-radius: 100px;
  color: #fff;
  border: 1px solid #fff;
  padding: 13px 50px;
}

/* .overlay:before{
  content: '';
  background: rgba(125, 113, 211, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
} */

.bg-3 {
  background: url("../../assets/img/BusquedaGeneral/fondos/F1.png") fixed no-repeat;
  background-size: cover;
}

@media (min-width: 1200px) {
  #seccion h4 {
    font-size: 18px;
  }
}

@media (min-width: 1200px) {
  #seccion p {
    font-size: 18px;
  }
}

@media (min-width: 300px) {
  .entidades {
    display: block;
    margin: auto;
    width: 200px;
  }
}

@media (min-width: 1200px) {
  .entidades {
    display: block;
    margin: auto;
    width: 400px;
  }
}
