
{% extends "Fauna/Mamiferos/dashboard.html" %}

{% load static %}


{% block content %}

    
    

   


    <div class="card">
      <div class="card-content">
          <div class="card-body">
              <h4 class="card-title">Introducción</h4>
          </div>
          
          <div class="card-body">
            
              <p class="card-text">
                En la provincia de El Oro, los primeros estudios en el campo de mamíferos fueron realizados a inicios del
                siglo XX, donde también se efectuaron colecciones científicas de otros
                grupos de fauna, principalmente en la
                ruta Piñas-Zaruma-Saraguro.
                <br></br>
                Con el material colectado se realizó varios reportes y la descripción de especies nuevas para la ciencia. En los últimos años,
                un pequeño pero creciente número de investigadores han realizado trabajos y
                publicaciones, sobre todo descripciones de nuevas especies de la provincia de
                El Oro. En la actualidad seis especies y dos sub-especies de mamíferos han sido descritas de la provincia de El Oro. El científico estadounidense
                H. Anthony es quien ha descrito el mayor número de especies (seis). Entre los
                años 2009 y 2014 P. Velazco en colaboración con A. Gardner y B. Patterson
                describieron dos especies de murciélagos de Moromoro y Arenillas.
              </p>
              <h4 class="card-title">Riqueza de mamíferos</h4>
              <p class="card-text">
                En total se registraron 139 especies de mamíferos agrupados en 34 familias
                y 13 órdenes. El órden más diverso fue Chiroptera (murciélagos) con 56
                especies, que representa el 40% del total registrado en la provincia; a este
                le siguieron el orden Rodentia (roedores) con 30 especies (22%), los
                Carnívoros (pumas, tigrillos, añangos, nutrias, etc.) con 20 especies (14%) y
                Didelphimorphios (raposas o zarigüeyas) con nueve especies (6%). En estos
                grupos esta representado el 88 % de mamíferos de la provincia.
                <br></br>
                Los grupos pocos representados fueron los Artiodáctilos (venados y sahínos)
                con cinco especies (4%), Pilosa (oso perezoso) con cuatro especies (2%). El resto
                de órdenes presentaron menos de dos especies, entre ellos osos hormigueros,
                monos (Primates), conejos (Lagomorphos), armadillos (Cingulata), ratones
                marsupiales (Paucituberculata), tapir andino (Perissodactyla), entre otros.
              </p>
              <h4 class="card-title">Familias</h4>
              <p class="card-text">
                Las familias más diversas fueron Phyllostomidae (Chiroptera: murciélagos
                de hoja nasal) con 36 especies, Cricetidae (Rodentia: ratones) con 21,
                Vespertilionidae (Chiroptera: murciélagos vespertinos) con 11, Didelphidae
                (Didelphimorphia: raposas, zarigüeyas) con nueve y Felidae (Carnivora:
                pumas, tigrillos, nutrias, chucuris) con siete especies. En estas cinco
                familias se agrupan 80 especies representando el 62,99% de total de mamíferos
                registrados, y están presentes en casi todos los biomas de la provincia. La
                mayor cantidad de especies se encuentran en las zonas tropicales de menor
                elevación y proporcionalmente va disminuyendo conforme la altura aumenta,
                siendo las zonas altoandinas las menos diversas.
                <br></br>
                Los 139 mamíferos registrados en la provincia de El Oro, 102 especies, 29 familias y
                11 órdenes, se registraron directamente en la fase de campo entre el año 2015-2017,
                y se complementó con la inclusión de registros reportados en artículos científicos,
                reportes técnicos, colecciones de museo y base de datos que correspondieron a 72
                especies, 21 familias y 8 órdenes.
              </p>
          </div>
          <div id="carousel-example-card" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-bs-target="#carousel-example-card" data-slide-to="0"
                    class="active"></li>
              
            </ol>
            <div class="carousel-inner rounded-0"  role="listbox">
                <div class="carousel-item active">
                    <img src="{% static 'assets/img/Fauna/Mamiferos/intro.jpg' %}"
                        class="d-block w-100" alt="First slide">
                </div>
               
            </div>
            
        </div>
      </div>
  </div>
    
    
  
  

{% endblock %}