{% extends 'areasnat.html' %}
{% block tituloN %} Áreas Protegidas{% endblock tituloN %}
{% block contenido %}
{% load static %}


<div class="card" style="padding: 20px 0 10px 0" >
        
    <div class="areas_titulo" >
        <h3> Áreas Protegidas </h2>
    </div>

    <div class="parrafos">
        <p>Las Áreas Naturales Protegidas (ANP) son consideradas por 
            muchos como la piedra angular de prácticamente todas las 
            estrategias nacionales e internacionales de conservación como lo 
            señala Dudley (2008) en un reporte de la Comisión Mundial de Áreas 
            Protegidas (CMAP) y la Unión Internacional para la Conservación de
            la Naturaleza (UICN), pues las mismas están destinadas a mantener
            ecosistemas naturales operativos, actuar como refugios para las 
            especies y mantener procesos ecológicos incapaces de sobrevivir 
            en los entornos terrestres y marítimos con un mayor nivel de intervención. 
        </p>
        <p>De acuerdo a Dudley (2008) un primer esfuerzo para esclarecer 
            la terminología se desarrolló en la Conferencia Internacional 
            para la Protección de la Fauna y la Flora Silvestre (Londres, 
            1933), y posteriormente la Comisión de Parques Nacionales y 
            Áreas Protegidas de la UICN (CPNAP), actualmente denominada 
            Comisión Mundial de Áreas Protegidas (CMAP), definió en el 
            marco de la Segunda Conferencia Mundial de Parques Nacionales en 
            el año 1972, los diferentes objetivos para los que se establecen áreas protegidas y la 
            definición de los estándares así como una nomenclatura apropiada para dichas áreas. 
            osteriormente en 1994, la Asamblea General de la UICN aprobó una propuesta para 
            actualizar las categorías de las áreas protegidas, la cual fue trabajada por alrededor de 10 años 
            por la CPNAP y presentada en el Congreso Mundial de Parques
            (Caracas, 1992). En 1994, las directrices fueron publicadas
            por la UICN así como por el Centro Mundial de Monitoreo de
            la Conservación (CMMC). Estas directrices establecieron
            la definición de “área protegida” – Un área terrestre 
            o marina especialmente dedicada a la protección y el 
            mantenimiento de la diversidad biológica, y de los recursos
            naturales y culturales asociados, gestionada mediante medios legales o efectivos
            de cualquier otro tipo. 
        </p>
    </div>


    <div class="areas_titulo" >
        <h3>Contexto nacional en la creación de áreas protegidas</h3>
    </div>
    <div class="parrafos">
        <p>
            En el Ecuador, la gestión de las Áreas Naturales Protegidas 
            se la ha realizado a través de procesos dispersos, esfuerzos 
            puntuales y afrontando dinámicas complejas, causados en su 
            mayoría por tres factores que han incidido negativamente en 
            su gestión: 1) su enfoque y manejo se ha fundamentado de manera 
            preponderante en modelos externos como es de los Estados Unidos 
            o a estándares internacionales que no logran articularse a las 
            especificidades de la realidad nacional; 2) la protección del 
            patrimonio natural no ha compaginado con el modelo productivo 
            del país, porque se consideraba que la protección de los recursos 
            naturales conllevaba a un ineficiente uso del suelo y un problema 
            en la modernización de la agricultura; y 3) su modelo de gestión y 
            gobernanza ha sido sumamente débil al no tener una estructura sólida 
            y robusta que responda a los conflictos y oportunidades existentes.
        </p>
        <p>
            El Sistema Nacional de Áreas Protegidas (SNAP) es en la actualidad 
            el fruto de un proceso muy complejo donde las competencias para su 
            gestión fueron responsabilidad de diferentes instancias (Ministerios 
            de Producción, Recursos Naturales y Turismo; Ministerio de Agricultura 
            y Ganadería; Instituto Ecuatoriano Forestal y de Áreas Naturales y de 
            Vida Silvestre –INEFAN-) hasta recaer en lo que actualmente es el 
            Ministerio del Ambiente, así como también el desarrollo de 
            instrumentos estratégicos como la Estrategia Preliminar para 
            la Conservación de Áreas Silvestres Sobresalientes del Ecuador 
            y la declaratoria de varias áreas naturales protegidas que 
            marcaron el inicio de una serie de procesos y acciones tendientes 
            a consolidar el SNAP (MAE, 2006), generando hasta la fecha, el 
            instrumento más importante a nivel nacional como son las Políticas 
            y Plan Estratégico del Sistema Nacional de Áreas Protegidas del 
            Ecuador 2007-2016, oficializado mediante Acuerdo Ministerial No. 
            009 de 10 de marzo de 2008 (publicado en el Suplemento del Registro 
            Oficial No. 343 de fecha 22 de mayo de 2008), siendo uno de sus mayores 
            aportes para el fortalecimiento del Sistema, el establecimiento de los 
            siguientes subsistemas:
        </p>
        <ul>
            <li>Subsistema del Patrimonio de Áreas Naturales del Estado (PANE).</li>
            <li>Subsistema de Áreas Protegidas de Gobiernos Seccionales (APGS). </li>
            <li>Subsistema de Áreas Protegidas Comunitarias, Indígenas y Afroecuatorianas (APC). </li>
            <li>Subsistema de Áreas Protegidas Privadas (APPRI).</li>
        </ul>
    </div>

    <div class="areas_foto">
        <img src="{% static 'assets/img/areas_naturales/mapa_areasprote.jpg' %}" alt="">
    </div>


    <div class="areas_titulo" >
        <h3>Corredor Ecológico en la Provincia de El Oro</h3>
    </div>

    <div class="parrafos">
        <p>
            En el Ecuador se priorizaron zonas, en los cuales se requiere implementar 
            corredores y que han sido definidas en base a un análisis integral del 
            Estado-Presión-Respuesta de los ecosistemas; este modelo parte de la 
            premisa que las acciones humanas ejercen presión sobre el ambiente y 
            modifican el estado de la calidad y cantidad de los recursos naturales 
            (Acuerdo Ministerial Nro. 135, 2013). De las 11 zonas priorizadas, una 
            de ellas constituye la distribuida en la vertiente occidental sur de los 
            Andes, en la provincia del Azuay, en dirección sureste, pasando por las 
            montañas de la provincia de El Oro hasta el cantón Zapotillo en la provincia 
            de Loja. Como sugerencia de este acuerdo ministerial se determina la necesidad 
            de generar al menos un corredor de conectividad.
        </p>
        <p>
            Es de esta forma que surgió la idea de implementar un corredor ecológico 
            en la provincia de El Oro, en base al levantamiento de información bioecológica 
            realizado por el GAD de El Oro y el Instituto Nacional de Biodiversidad 
            (INABIO). Se han identificado que los bosques pie- montanos (pie de monte) 
            dentro de una franja altitudinal de 400 a 1.600 m son los más diversos 
            y su vez los más amenazados. En esta franja existe más 500 especies de 
            aves, más de 100 especies de anfibios y reptiles, 84 de mamíferos y más 
            de 500 especies de flora.
        </p>
        <p>
            En la provincia de El Oro existen dos áreas protegidas dentro del SNAP que 
            representa el 1,85% del total de las zonas protegidas en el 
            Ecuador; la Reserva Ecológica Arenillas que protege los 
            bosques secos tumbesinos y la Reserva Marina Isla Santa Clara que 
            protege el patrimonio marino de la provincia.
        </p>
    </div>

    <div class="areas_foto">
        <img src="{% static 'assets/img/areas_naturales/tabla_areasprote_eloro.jpg' %}" alt="">
    </div>


    <div class="areas_titulo" >
        <h3>Beneficios del Corredor Ecológico en El Oro</h3>
    </div>

    <div class="parrafos">
        <p>
            El corredor propuesto en El Oro busca revertir o mitigar varios 
            impactos ambientales producidos en su territorio. 
            Entre los principales tenemos los siguientes: 
        </p>
        
        <ul>
            <li>Pérdida de cobertura vegetal natural.</li> 
            <li>Fragmentación de hábitat. </li>
            <li>Pérdida de biodiversidad.</li> 
            <li>Contaminación ambiental.</li>
            <li>Presión sobre los recursos naturales (cacería, tala ilegal e incendios forestales, entre otros).</li>
            <li>Prácticas agrícolas inadecuadas para el ambiente. </li>
            <li>Pérdida del recurso hídrico. </li>
            <li>Falta de participación de la gente local.</li>
            <li>Falta de un ordenamiento territorial adecuado y sostenible</li>
        </ul>
    </div>

    <div class="areas_foto">
        <img src="{% static 'assets/img/areas_naturales/mapa_areasprote_eloro.jpg' %}" alt="">
    </div>
</div>

{% endblock contenido %}