{% extends 'areasnat.html' %}
{% block tituloN %} El Oro {% endblock tituloN %}
{% block contenido %}
{% load static %}

<div class="card" style="padding: 20px 0 10px 0" >

    <div class="areas_titulo" >
        <h1> El Oro </h2>
        <h3>   Ubicación Geográfica   </h3>
    </div>

    <div class="parrafos">
        <p>La provincia de El Oro se encuentra ubicada en el extremo suroccidental del Ecuador.
            La mayor parte del territorio corresponde a la región costera, 
            una porción se localiza en las faldas de las estribaciones de la 
            Cordillera Occidental de los Andes, y una mínima parte en el área
            marino-costera. Cuenta con una superficie de 5.791,85 km², que
            equivale el 2,15% de la superficie nacional y se compone de 14 
            cantones y 49 parroquias rurales.
        </p>
    </div>

    <div class="areas_foto">
        <img src="{% static 'assets/img/areas_naturales/division_cantonal.jpg' %}" alt="">
    </div>


    <div class="areas_titulo" >
        <h3>Relieve y Geología</h3>
    </div>

    <div class="parrafos">
        <p>En la provincia de El Oro se diferencian tres tipos de relieves: 
            (1) al noroeste la región marino costera, que va desde los 0 m hasta
            los 50 m altitudinales, corresponde al 37,94 % del territorio de la 
            provincia; (2) hacia el este el relieve se incrementa alcanzando los 
            3.590 m de altitud en el cerro Chilla-Cocha, abarcando un 62,06% de la
            provincia pertenece a las estribaciones de la Cordillera Occidental de 
            los Andes (zona alta de Tío Loma, Mullopungo y Chilla); (3) el sur y 
            sureste de la provincia está caracterizado por una zona intermedia que 
            presenta bajas elevaciones que van de 200 a 600 m de altura.
        </p>
        <p>
            El rasgo más importante desde el punto de vista geológico es la 
            presencia de una falla que divide a la provincia en dos zonas: una al 
            sur, que corresponde a la mayor parte de la provincia, caracterizada por 
            las formaciones más antiguas que se inician en el Precámbrico, tales 
            como el Grupo Piedras constituido por esquistos verdes, anfibolita y 
            cuarcitas; del Paleozoico inferior está el Grupo Tahuín, Formaciones Capiro
            y San Roque compuestas por esquistos, gneises, cuarcitas y anfibolitas;
            del Cretáceo, la Formación Raspa, constituida por esquistos, la Formación
            Célica compuesta por lavas andesíticas y piroclásticas, el Grupo Alamor,
                conglomerados, areniscas, lutitas, grauvacas, piroclastos. 
            
        </p>
        <p>
            La zona norte de la falla está representada principalmente por depósitos
            del Cretácico, constituida por rocas de la Formación Macuchi e identificadas
            como vulcanoclásticas andesíticos, lavas, tobas y sedimentos del Cuaternario,
            que pertenece a la Formación Tarqui, constituida por piroclastos, 
            riodacíticos y lavas, además están los depósitos sedimentarios
                Cuaternarios formados por arcillas marinas de estuarios.
        </p>
        <p>
            La distribución de los suelos de la provincia está fuertemente 
            vinculada a los cambios de relieve, destacando tres ambientes 
            geomorfológicos: (1) abanico aluvial del río Jubones y la
            planicie aluvial; (2) zona costera; y (3) estribaciones
            de la Cordillera y altos Andes.
        </p>
    </div>

    <div class="areas_foto">
        <img src="{% static 'assets/img/areas_naturales/geologia_oro.jpg' %}" alt="">
    </div>

    <div class="areas_titulo" >
        <h3>Hidrología</h3>
    </div>

    <div class="parrafos">
        <p>
            Según la SENAGUA (2011), la provincia de El Oro presenta una densa 
            red hidrográfica, conformada por cuatro Unidades Hidrográficas (U.H)
            nivel 4 (U.H 1392, U.H 1393, U.H 1394 y U.H 1395), y 17 U.H en nivel 5. 
            Según CNRH (2002) la provincia de El Oro esta conformada por ocho
            cuencas hídricas: (1) río Puyango, (2) estero Guajabal, (3) río Santa Rosa,
            (4) río Arenillas, (5) río Zarumilla, (6) río Jubones, (7) río Pagua y (8) 
            río Siete. Estas Unidades Hidrográficas o cuencas hídricas corresponden
                al conjunto de afluentes que drenan en una desembocadura común, 
                el océano Pacífico en el Golfo de Guayaquil.
        </p>
        <p>
            El río Jubones es la principal unidad hidrográfica, que nace en el 
            nudo de Portete-Tinajillas y atraviesa la provincia de este a oeste.
            Otros ríos importantes dentro de la provincia son: Arenillas, Puyango,
            Santa Rosa y Zarumilla. Varias lagunas se encuentran en los 
            diferentes paisajes de la provincia, e incluyen: (a) Encantada de Chillacocha 
            y Rusiococha ubicada en el cantón Chilla, (b) del Amor y Siriguiña 
            ubicadas en el cantón Portovelo, (c) La Tembladera ubicada 
            en el cantón Santa Rosa y (d) la laguna Chinchilla en Zaruma.
            Además, en la provincia se encuentra el Proyecto Hidroeléctrico 
            Multipropósito Tahuín, localizado en el cantón Arenillas y el
                humedal La Tembladera reconocido como sitio Ramsar.
        </p>
    </div>

    <div class="areas_foto">
        <img src="{% static 'assets/img/areas_naturales/hidrografia.jpg' %}" alt="">
    </div>
</div>


{% endblock contenido %}