{% load static %}

<link rel="stylesheet" href="{% static 'css/Probando_css/menu.css' %}">

<div id="app">
    <div id="sidebar" class='active'>
        <div class="sidebar-wrapper active">
            <div class="sidebar-header" style="padding-top: 90px;">
                <a href="{% url 'inicio'%}" >
                    <img alt="Qries" src="{% static 'assets/img/logo/logo.png' %}" style="display: block; margin: auto; width: 78px; height: 58px; " >
                 </a>
            </div>

           
            <div class="sidebar-menu">
                <ul class="menu">


                    <li class='sidebar-title'>Información</li>



                    <li class="sidebar-item  ">
                        <a href="{% url 'El_Oro' %}" class='sidebar-link'>
                            <i data-feather="layers" width="20"></i>
                            <span>El Oro</span>
                        </a>
                    </li>

                    <li class="sidebar-item  ">
                        <a href="{% url 'Sistemas' %}" class='sidebar-link'>
                            <i data-feather="layers" width="20"></i>
                            <span>Sistemas Ecológicos y Biomas</span>
                        </a>
                    </li>
    
                    <li class="sidebar-item  ">
                        <a href="{% url 'Protegidas' %}" class='sidebar-link'>
                            <i data-feather="layers" width="20"></i>
                            <span>Areas Protegidas</span>
                        </a>
                    </li>
            </div>
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
        </div>
    </div>
