{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'assets/img/logo/logo.ico' %}">
    <title> {% block titulo %}  Bio-Oro   {% endblock titulo %} </title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">

    <!-- CSS here -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
</head>
<body class="body-bw">

    {% block cuerpo %}
        <!-- Preloader Start -->
    <header>
        <!-- Header Start -->
    <div class="header-area header-sticky">
            <div class="header-wrapper d-flex flex-wrap align-items-center justify-content-between">
                <!-- Logo -->
                <div class="logo">
                    <a href="{% url 'inicio' %}"><img class="tamano" src="{% static 'assets/img/logo/logo.png' %}" alt=""></a>
                </div>
                <!-- Main-menu -->
                <div class="main-menu d-none d-lg-block">
                    <nav>
                        <ul id="navigation">                                                                                                                               
                            <li><a  href="{% url 'infoweb'%}">Acerca de Bio-Oro</a></li>
                            <li><a  href="{% url 'sugerencias'%}">Sugerencias</a></li>
                            <li><a  href="{% url 'contacto'%}">Contacto</a></li>
                            <li><a  href="{% url 'busquedaavanzada'%}">Búsqueda Avanzada</a></li>
                            <li><a  href="{% url 'galeriageneral'%}">Galería</a></li>
                            <li><a >Documentos Científicos</a>
                                <ul class="submenu">
                                    <li><a target="_blank" href="http://inabio.biodiversidad.gob.ec/wp-content/uploads/2019/02/Qrquideas_y_bromelias_de_el_Oro.pdf">Orquídeas y Bromelias de El Oro</a></li>
                                    <li><a target="_blank" href="http://inabio.biodiversidad.gob.ec/wp-content/uploads/2019/02/Ecosistemas_dulceacuicolas_El_Oro.pdf">Ecosistemas Dulceacuícolas de El Oro</a></li>
                                    <li><a target="_blank" href="http://inabio.biodiversidad.gob.ec/wp-content/uploads/2019/02/Mamiferos_de_El_Oro_low.pdf">Mamíferos de El Oro</a></li>
                                    <li><a target="_blank" href="http://inabio.biodiversidad.gob.ec/wp-content/uploads/2020/10/Libro%20Propuesta%20ACP%20y%20Corredor%20Ecol%c3%b3gico%20de%20la%20provincia%20de%20El%20Oro%202019.pdf">Propuesta de Subsistemas de Áreas Naturales de Conservación de El Oro</a></li>
                                    <li><a target="_blank" href="http://inabio.biodiversidad.gob.ec/wp-content/uploads/2020/10/Anfibios,%20reptiles%20y%20aves%20de%20la%20provincia%20de%20El%20Oro.%20Primera%20Edici%c3%b3n.pdf">Anfibios y Reptiles de El Oro</a></li>
                                    <li><a target="_blank" href="http://inabio.biodiversidad.gob.ec/wp-content/uploads/2020/10/Gu%c3%ada%20de%20Anfibios,%20Reptiles%20y%20Aves%20de%20la%20provincia%20de%20El%20Oro.%20Segunda%20Edici%c3%b3n%20low.pdf">Anfibios y Reptiles de El Oro Segunda Edición</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                </div>          
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
    </div>

    <div class="video-container">
        <video src="{% static 'assets/img/gallery/VIDEO_INICIO.mp4' %}" muted autoplay loop></video>
        <video src="{% static 'assets/img/gallery/Leaves blowind in the wind.ogv' %}"autoplay loop preload></video>
        <video src="{% static 'assets/img/gallery/Leaves blowind in the wind.webm' %}" autoplay loop preload></video>
    </div> 

    <main>
        <!-- Types class Start -->
        <div class="clients-area section-padding30">
            <div class="container">
                <!-- Section Tittle -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-100">
                            <br>
                            <span class=" wow fadeInUp" data-wow-delay=".2s" style="color: rgb(255, 255, 255);">Bio-Oro</span>
                            <h2 class=" wow fadeInUp" data-wow-delay=".3s"style="color: rgb(255, 255, 255); font-size:21px">Bio-Oro muestra una colección de información referente a la biodiversidad de la Provincia de El Oro en Ecuador.
                                Cuenta con datos de especies de flora, fauna y áreas naturales, además de proporcionar contenido multimedia disponible para todos los usuarios, enlaces a libros
                                y la posibilidad de agregar nuevas especies.
                            </h2>
                            <br>
                        </div>
                    </div>
                </div>
                <center> 
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6 menu-foto" ><!--style="margin-left: 45px; margin-right: 45px;"-->
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".2s" style="padding-left: 0px;">
                            <div class="offers-img">
                                <img src="{% static 'assets/img/inicio/rana_logo.png' %}" alt="">
                            </div>
                            <div class="offers-cap"> 
                                <h3><a style="color: rgb(255, 255, 255);" href="{% url 'galeriabioma' %}">Fauna</a></h3>
                                <span style="margin-left: 50px;">1</span>
                                <p style="color: #fff; font-weight: bold;" > Información sobre la fauna de la provincia de El Oro. Incluye datos sobre las especies, fotografías, mapas de distribución.</p>
                                <a href="{% url 'galeriabioma' %}"><i class="fas fa-arrow-up"></i></a>
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 col-sm-6 menu-foto" ><!--style="margin-left: 45px; margin-right: 45px;"-->
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".4s" style="padding-left: 0px;">
                            <div class="offers-img">
                                <img src="{% static 'assets/img/inicio/flor_logo.png' %}" alt="">
                            </div>
                            <div class="offers-cap">
                                <span style="margin-left: 50px;">2</span>
                                <h3><a style="color: rgb(255, 255, 255);" href="{% url 'galeriabiomaFlora'%}">Flora</a></h3>
                                <p style="color: rgb(255, 255, 255); font-weight: bold;">Información sobre la flora de la provincia de El Oro. Incluye datos sobre las especies, fotografías, mapas de distribución.</p>
                                <a href="{% url 'galeriabiomaFlora' %}"><i class="fas fa-arrow-up"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6 menu-foto" ><!--style="margin-left: 45px; margin-right: 45px;"-->
                        <div class="single-offers mb-50 wow fadeInUp" data-wow-delay=".6s" style="padding-left: 0px;">
                            <div class="offers-img">
                                <img src="{%  static 'assets/img/inicio/Palmeras_logo.png'%}" alt="">
                            </div>
                            <div class="offers-cap">
                                <span style="margin-left: 50px;">3</span>
                                <h3><a style="color: rgb(255, 255, 255);" href="{% url 'areasnat'%}">Áreas Naturales</a></h3>
                                <p style="color: rgb(255, 255, 255); font-weight: bold;">Información sobre los ecosistemas de la Provincia de El Oro, estrategias de conservación y manejo.</p>
                                <a href="{% url 'areasnat'%}"><i class="fas fa-arrow-up flecha"></i></a>
                            </div>
                        </div>
                    </div>
                
                </div>
                </center>
                <center>
                    <div class="Apoyo-principal" data-wow-delay=".6s">
                        <p>Con el apoyo de:<br> Universidad Tecnica de Machala 
                            <br>INABIO  
                            <br>Secretaría de gestión ambiental 
                            <br>MECN</p>
                    </div>
                </center>
            </div>
        </div>
        <!-- Types class End -->
    </main>
    

    {% endblock cuerpo %}

    <footer>
        <div class="footer-area fix">
            <img class="logo-pre"  src="{% static 'assets/img/gallery/prefectura.png' %}">
            <!-- Footer Caption -->
            <div class="footer-caption wow fadeInRight" data-wow-delay=".6s">
                <div class="footer-menu ">
                    <div class="single-menu">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <ul>
                                    <li><a>Teléfono: (07) 293-3114</a></li>
                                    <li><a>Dirección: Junin s/n y Av. 25 de Junio</a></li>
                                    <li><a>Gobierno Autónomo Descentralizado Provincial de El Oro</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="copyright pt-40">
                    <p><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | GADPEO</a>
                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></p>
                </div>
            </div>
        </div>
        <div class="redes_sociales">
            <ul> 
                <li><a href="https://www.facebook.com/PrefecturaElOro/"  target="_blank" class="fab fa-facebook"></a></li>
                <li><a href="https://www.instagram.com/prefecturaeloro/" target="_blank" class="fab fa-instagram"></a></li>
                <li><a href="https://twitter.com/PrefecturaElOro"  target="_blank" class="fab fa-twitter"></a></li>
            </ul>
        </div>
        
   </footer>
   
	<!-- JS here -->
	
		<!-- All JS Custom Plugins Link Here here -->
        <script src="{% static 'js/vendor/modernizr-3.5.0.min.js'%}"></script>
		
		<!-- Jquery, Popper, Bootstrap -->
		<script src="{% static 'js/vendor/jquery-1.12.4.min.js'%}"></script>
        <script src="{% static 'js/popper.min.js'%}"></script>
        <script src="{% static 'js/bootstrap.min.js'%}"></script>
	    <!-- Jquery Mobile Menu -->
        <script src="{% static 'js/jquery.slicknav.min.js'%}"></script>

		<!-- Jquery Slick , Owl-Carousel Plugins -->
        <script src="{% static 'js/owl.carousel.min.js'%}"></script>
        <script src="{% static 'js/slick.min.js'%}"></script>
		<!-- One Page, Animated-HeadLin -->
        <script src="{% static 'js/wow.min.js'%}"></script>
		<script src="{% static 'js/animated.headline.js'%}"></script>
        <script src="{% static 'js/jquery.magnific-popup.js'%}"></script>

		<!-- Scrollup, nice-select, sticky -->
        <script src="{% static 'js/jquery.scrollUp.min.js'%}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js'%}"></script>
		<script src="{% static 'js/jquery.sticky.js'%}"></script>
        
        <!-- contact js -->
        <script src="{% static 'js/contact.js'%}"></script>
        <script src="{% static 'js/jquery.form.js'%}"></script>
        <script src="{% static 'js/jquery.validate.min.js'%}"></script>
        <script src="{% static 'js/mail-script.js'%}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js'%}"></script>
        
		<!-- Jquery Plugins, main Jquery -->	
        <script src="{% static 'js/plugins.js'%}"></script>
        <script src="{% static 'js/main.js'%}"></script>
        <script src="{% static 'js/main_copy.js'%}"></script>
</body>
</html>