{% extends "Flora/Orquidea/dashboard.html" %}

{% load static %}




{% block content %}
  
      
        
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
        <link rel="stylesheet" href="{% static 'css/themify.css' %}">
        <link rel="stylesheet" href="{% static 'css/Flora/Orquideas/Busqueda/Article-List.css' %}">
        <link rel="stylesheet" href="{% static 'css/Flora/Orquideas/Busqueda/busqueda.css' %}">
        <link rel="stylesheet" href="{% static 'css/Flora/Orquideas/Busqueda/Carousel-Hero.css' %}">
        <link rel="stylesheet" href="{% static 'css/Flora/Orquideas/Busqueda/Data-Table-1.css' %}">
        <link rel="stylesheet" href="{% static 'css/Flora/Orquideas/Busqueda/Data-Table.css' %}">

      
        <style type="text/css">
            #desplegar {
                display: none;
            }

        </style>

    
        <div>
            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                <div class="carousel-inner pulse animated">
                    <div class="carousel-item active">
                        <div class="bg-light border rounded border-light hero-nature carousel-hero jumbotron py-5 px-4" style="height: 16.6875rem;">
                            <h1 class="hero-title">Búsqueda Orquideas<br></h1>
                            <p class="hero-subtitle">Puede realizar la búsqueda de las distintas especies existentes en la Provincia de El ORO almacenadas en nuestra base de datos.<br></p>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="bg-light border rounded border-light hero-photography carousel-hero jumbotron py-5 px-4">
                            <h1 class="hero-title">Búsqueda Orquideas<br></h1>
                            <p class="hero-subtitle">Puede realizar la búsqueda de las distintas especies existentes en la Provincia de El ORO almacenadas en nuestra base de datos.<br></p>
                            <p></p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="bg-light border rounded border-light hero-technology carousel-hero jumbotron py-5 px-4">
                            <h1 class="hero-title">Búsqueda Orquideas<br></h1>
                            <p class="hero-subtitle">Puede realizar la búsqueda de las distintas especies existentes en la Provincia de El ORO almacenadas en nuestra base de datos.<br></p>
                            <p></p>
                        </div>
                    </div>
                </div>
                <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a></div>
                <ol class="carousel-indicators">
                    <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
                    <li data-bs-target="#carousel-1" data-bs-slide-to="1"></li>
                    <li data-bs-target="#carousel-1" data-bs-slide-to="2"></li>
                </ol>
            </div>
        </div>
        <div>
            
           <section class="section">
            <div class="card">
            
                <section id="seccion-tabla">
                   
                    <p data-aos="fade" style="font-weight: bold; padding-top: 20px;">Taxonomía</p>
                    <div class="row"><div class="col-md-6">
           <select class="form-select mb-3" id="genero" aria-label="Default select example">
              
            <option selected value="0">Seleccione Genero.</option>
              {% for ge in genero %}
              <option>{{ ge.nom_genero }}</option>
              
              {% endfor %}
    
            </select>
        
    </div>
    </div>
        
      <div class="container">
                        <div class="row">
                            <div class="col-md-6 p-3 ps-0">
                                <button type="button" onclick="filtrar_flora();" class="btn btn-success"><img src="{% static 'assets/img/BusquedaGeneral/comunes/lupa-blanco.png' %}"  style="width: 1.5625rem; height: 1.5625rem;" > Buscar</button>
                                <button type="button" onclick="mostrar_todo_flora();" class="btn btn-dark">Listar todo.</button>
                            </div>
        <div class="col-md-6 p-3 ps-0">
            <button type="button"  onclick="limpiar_tabla_flora();" class="btn btn-primary">Limpiar</button>
        </div></div>
                    </div>
                    <div id="desplegar">
                        <h5>Infomación de búsqueda</h5> <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
                        <div class="py-3">
                            <p>Escriba en el campo de entrada para buscar especies en la tabla:
                                <button type="button" onclick="quitar_todo_flora();" class="btn"><img src="{% static 'assets/img/gallery/invisible.png' %}"  style="width: 1.5625rem; height: 1.5625rem;" > ocultar</button>
                            </p> 
                            <input class="form-control" id="myInput" type="text" placeholder="Filtrar..">
                          </div>
    
                          <div class="table-responsive col-lg-12">
                            <table id="example" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th>Nombre Flora</th>
                                        <th>Género</th>
                                        <th>Bioma</th>
                                        <th>Clasificación</th>
                                        <th>Etimología</th>
                                        <th>Diagnosis</th>
                                        <th>Distribución</th>
                                        <th>Autor</th>
                                        
                                    </tr>
                                </thead>
                                <tbody id="myTable" style="max-height:6.25rem; overflow:auto; ">
                                    {% if data != None  %}
                                    {% for result in data %}
                                    <tr>
                                        <td>{{ result.nom_flora }}</td>
                                        <td>{{ result.nom_genero }}</td>
                                        <td>{{ result.nom_bioma }}</td>
                                        <td>{{ result.tipo_flora }}</td>
                                        <td>{{ result.etimologia_flora }}</td>
                                        <td>{{ result.diagnosis_flora }}</td>
                                        <td>{{ result.distribucion_composicion_flora }}</td>
                                        <td>{{ result.autor_flora }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                        <H3 style="padding-bottom: 10px;"> No existen especies de orquideas en este bioma. </H3>
                                    {% endif %}
                                </tbody>
                            </table>
                            
                        <script type="text/javascript">
                    
                        $(document).ready(function(){
                          $("#myInput").on("keyup", function() {
                            var value = $(this).val().toLowerCase();
                            $("#myTable tr").filter(function() {
                              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                            });
                          });
                        });
                    
                        function filtrar_flora() {
                                        
                            genero = document.getElementById("genero").value;
                       
                        
                                        
                            $("#myTable tr").filter(function() {
                                $(this).toggle($(this).text().indexOf(genero) > -1) 
                               
                            });
                        
                                document.getElementById('desplegar').style.display = 'block';         
                                
                                
                        }
                    
    
                        function limpiar_tabla_flora(){
                            
                            /* Muestra elementos de la tabla*/
                            $("#myTable tr").show();
                            /*Limpia elementos text y combobox*/
                            genero = document.getElementById("genero").value ="0";
                         
                                
                        }
                        
                        
                        
                        /* Para funcinalidades de presentar tabla*/
                        function mostrar_todo_flora(){
                           
                            document.getElementById('desplegar').style.display = 'block';
                        }
                        
                        function quitar_todo_flora(){
                            document.getElementById('desplegar').style.display = 'none';
                        }
                    
                        </script>
                        </div>
    
                    </div>
                    
        
        
    
       
                </section>
               </div>
           </section>
         


            
    
        <section class="cta-download bg-3 pt-5 mb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 text-center">
                    
                    <div class="image-block"><img class="phone-thumb img-fluid" src="{% static 'assets/img/BusquedaGeneral/Telefono/app.png' %}" alt=""></div>
                </div>
                <div class="col-lg-7 columnainfoapp">
                    <div class="content-block">
                        <!-- Title -->
                        <h2>Descargar la App Ahora .</h2>
                        <!-- Desctcription -->
                        <p>Puede encontrar en la app de bioro las distintas especies de la provincia de El Oro Distribuidas en un mapa de manera interactivo, la descarga es gratuita.</p>
                        <!-- App Badge -->
                        <div class="app-badge">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a href="#" class="btn btn-download">
                                        <img src="{% static 'assets/img/Fauna/Reptiles/android.png' %}" alt="" width="60px" style="padding-right: 5px;">
                                        <div>Obtener en la<span>GOOGLE PLAY</span></div>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


           

        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
      
        <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
       
      
       
      
        {% endblock %}    