
{% extends "Flora/Orquidea/dashboard.html" %}

{% load static %}




{% block content %}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Galería</title>

    <!-- Css de boostrap 5.1 creada por boostrap estudio  -->

    
    <link rel="stylesheet" href="{% static 'css/Flora/Orquideas/Galeria/best-carousel-slide.css' %}">
    <link rel="stylesheet" href="{% static 'css/Flora/Orquideas/Galeria/Carousel-Hero.css' %}">
    <link rel="stylesheet" href="{% static 'css/Flora/Orquideas/Galeria/galeria.css' %}">
    <link rel="stylesheet" href="{% static 'css/Flora/Orquideas/Galeria/Highlight-Blue.css' %}">
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="{% static 'css/Flora/Orquideas/Galeria/Lightbox-Gallery.css' %}">
     <!---------------------------------------->


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">

  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css">



  

    
    <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="bg-light border rounded border-light hero-nature carousel-hero jumbotron fondo p-y5 px-4">
                    <h1 class="hero-title">G A L E R Í A</h1>
                    <p>ALBUM DE LA SORPRENDENTE DIVERSIDAD DE ORQUIDEAS <br>DE LA PROVINCIA DE EL ORO<br><br></p>
                    <p></p>
                </div>
            </div>
        </div>
        <div><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="visually-hidden">Previous</span></a><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="visually-hidden">Next</span></a></div>
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></li>
        </ol>
    </div>
    <div class="seccion-galeria">
        <p style="text-align: center;"><br>La Provincia de El Oro presenta características geográficas únicas que genera una variedad de pisos altitudinales, esto sumado a influencias climátologicas, han convertido a la Provincia de El Oro, en un territorio megadiverso que abarca 15 ecosistemas muy poco estudiados, por lo que esta obra abre espacios de conocimiento y valoración de nuestra diversidad biológica. Especies para la ciencia y nuevas ampliaciones de distribución para la provincia de El Oro y el Ecuador.<br><br></p>
    </div>
  
    

                
    <div class="card">
       
        <section class="photo-gallery">

            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Orquídeas</h2>
                </div> 


                <div class="row photos" data-bss-baguettebox="">
                    {%  for i in orquidea %}
                                
                    <div class="col-sm-6 col-md-4 col-lg-3 item">
                        <a href="{{i.imagenflora.url}}">
                            <img class="img-fluid ratio ratio-1x1" src="{{i.imagenflora.url}}"></a>
                        <figure>
                            <blockquote class="blockquote">
                                <p class="mb-0" style="text-align: center;font-weight: bold;color: rgb(19,20,20); padding-top: 10px;">{{i.nom_flora}}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer" style="text-align: center;color: rgb(21,23,25);">{{i.nom_genero}}</figcaption>
                        </figure>
                    </div>
                    
                    {% endfor %}
                </div>


            </div>
            
        
        </section>
    </div>


            


<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>

<script src="{% static 'js/Lightbox-Gallery.js' %}"></script>

<script src="{% static 'js/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'js/vendors.js' %}"></script>



{% endblock %}    







   