{% extends "Fauna/Aves/dashboard.html" %}

{% load static %}




{% block content %}


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto&amp;display=swap">
<link rel="stylesheet" href="{% static 'css/themify.css' %}">
<link rel="stylesheet" href="{% static 'css/Fauna/Anfibios/Ficha_tecnica/Article-List.css' %}">
<link rel="stylesheet" href="{% static 'css/Fauna/Anfibios/Ficha_tecnica/ficha_tecnica.css' %}">
<link rel="stylesheet" href="{% static 'css/Fauna/Anfibios/Ficha_tecnica/Carousel-Hero.css' %}">
<link rel="stylesheet" href="{% static 'css/Fauna/Anfibios/Ficha_tecnica/Data-Table-1.css' %}">
<link rel="stylesheet" href="{% static 'css/Fauna/Anfibios/Ficha_tecnica/Data-Table.css' %}">

          
<link rel="stylesheet" href="{% static 'css/Fauna/Anfibios/Galeria/best-carousel-slide.css' %}">
<link rel="stylesheet" href="{% static 'css/Fauna/Anfibios/Galeria/Carousel-Hero.css' %}">
<link rel="stylesheet" href="{% static 'css/Fauna/Anfibios/Galeria/galeria.css' %}">
<link rel="stylesheet" href="{% static 'css/Fauna/Anfibios/Galeria/Highlight-Blue.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
<link rel="stylesheet" href="{% static 'css/Fauna/Anfibios/Galeria/Lightbox-Gallery.css' %}">


<div style="background-color: black;">
    <div id="carousel-example-card" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#carousel-example-card" data-slide-to="0"
                class="active"></li>
          
        </ol>
        {%  for i in imagen  %}
        <div class="carousel-inner rounded-0"  role="listbox">
            <div class="carousel-item active">
                <img src="{{i.imagen.url}}"
                    class="d-block w-50  " style=" display: block; margin: auto; " alt="First slide">
            </div>
           
        </div>
        {% endfor %}
        
      </div>
</div>
<div>

    <div class="article-list">
    
        <div class="container">
            <div class="intro">
              {%  for i in imagen  %}
                <h2 class="text-center">{{ i.id_especie.nom_especie }} </h2>
                <p class="text-center" style="font-weight: bold;text-align: center;color: var(--bs-gray-800);">{{ i.id_especie.nom_cientifico }}</p>
                <p class="text-center" style="color: var(--bs-gray-800);">Autor: {{ i.id_especie.id_persona }}</p>
                <p class="text-center" style="color: var(--bs-gray-800);">Año: {{ i.id_especie.anio_descubrimiento }}</p>
                {% endfor %}
              </div>

        </div>
    </div>



   <section class="section">
    <div class="card">
    
      <section id="seccion-tabla">
         
          <h3 data-aos="fade" style="padding-top: 20px;">Ficha Técnica</h3>
          <p data-aos="fade" style="font-weight: bold;">Taxonomía</p>
          {%  for i in imagen  %}
          <div class="row">
              <div class="col-md-6">
               
                  <div class="accordion" id="accordionExample1">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Descripción
                          </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                              {{ i.id_especie.descripcion }} 
                           
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Orden  
                          </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                            {{ i.id_especie.id_clase.nom_clase}} 

                           
                               
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                           Clase
                          </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample1">
                          <div class="accordion-body">
                            {{ i.id_especie.id_orden.nom_orden }} 
                             
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              
              <div class="col-md-6">
                  <div class="accordion" id="accordionExample2">
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne">
                           Ubicación
                          </button>
                        </h2>
                        <div id="collapseOne1" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample2">
                          <div class="accordion-body">
                            {{ i.id_especie.ubicacion}} 
                          
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo">
                           Familia
                          </button>
                        </h2>
                        <div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample2">
                          <div class="accordion-body">
                            {{ i.id_especie.id_familia}} 
                              
                          </div>
                        </div>
                      </div>
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree3" aria-expanded="false" aria-controls="collapseThree">
                            Subfamilia
                          </button>
                        </h2>
                        <div id="collapseThree3" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample2">
                          <div class="accordion-body">
                            {{ i.id_especie.id_sub_familia}} 
                             
                                
                          </div>
                        </div>
                      </div>
                    </div>

              
              
              
              </div>
          </div>
          {% endfor %}

          

          <div class="container">
              <div class="row"><div class="col-md-6">
          
      </div>
  </div>
   
</div>

<div class="container">
                <div class="row">
                    
        <div class="col-md-6 p-3 ps-0">
           
        </div></div>
            </div>
            <div id="desplegar">
              
                

                  <div class="table-responsive col-lg-12">
                    <table id="example" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Rango Altitudinal</th>
                                <th>Clasificación</th>
                                <th>Nombre en Ingles</th>
                                <th>Estado de conservación</th>
                                <th>Nicho Trófico</th>                          
                                <th>Año descubrimiento</th>
                                <th>Migración</th>
                            </tr>
                        </thead>
                        <tbody id="myTable" style="max-height:6.25rem; overflow:auto; ">
                        
                            <tr>
                              {%  for i in imagen  %}
                              <td>{{ i.id_especie.rango_altitudinal}} </td>
                              <td>{{ i.id_especie.tipo }}</td>
                              <td>{{i.id_especie.nom_ingles }}</td>
                              <td>{{i.id_especie.id_estado_conservacion.categoria}}</td>
                              <td>{{ i.id_especie.id_nicho_trofico.nom_nicho }}</td>
                              <td>{{ i.id_especie.anio_descubrimiento }}</td>
                              <td>{{i.id_especie.id_migracion.nom_migracion }}</td>
                              {% endfor %}
                            </tr>
                            
                        </tbody>
                    </table>




                    
                <script type="text/javascript">
            
                $(document).ready(function(){
                  $("#myInput").on("keyup", function() {
                    var value = $(this).val().toLowerCase();
                    $("#myTable tr").filter(function() {
                      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                  });
                });
            
                /* Para funcinalidades de presentar tabla*/
                function mostrar_todo(){
                    document.getElementById('desplegar').style.display = 'block';
                }

                function quitar_todo(){
                    document.getElementById('desplegar').style.display = 'none';
                }
            
                </script>
                </div>

            </div>
            




        </section>
        <section class="photo-gallery">

            <div class="container">
                <div class="intro">
                    <h2 class="text-center">Galería</h2>
                </div>
                <div class="row photos" data-bss-baguettebox="">
                  {%  for i in imagenes  %}
                   <div class="col-sm-6 col-md-4 col-lg-3 item">
                        <a href="{{i.imagen.url}}">
                            <img class="img-fluid ratio ratio-1x1" src="{{i.imagen.url}}"></a>
                        <figure>
                            <blockquote class="blockquote">
                                <p class="mb-0" style="text-align: center;font-weight: bold;color: rgb(19,20,20); padding-top: 10px;">{{i.id_especie.nom_especie}}</p>
                            </blockquote>
                            <figcaption class="blockquote-footer" style="text-align: center;color: rgb(21,23,25);">{{i.nom_familia}}</figcaption>
                        </figure>
                    </div>
                    
                  
                   
                    {% endfor %}
              
                </div>
            </div>
            
        
        </section>
       </div>
   </section>
 













<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>



<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/bs-init.js' %}"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>


<script src="{% static 'js/Lightbox-Gallery.js' %}"></script>

<script src="{% static 'js/simple-datatables/simple-datatables.js' %}"></script>
<script src="{% static 'js/vendors.js' %}"></script>


{% endblock %}    